.routeList {
  margin: 1rem 0;
}

.route {
  display: flex;
  align-items: center;
}
.route:hover {
  cursor: default;
  font-weight: bold;
}

.createRoute {
  display: block;
  padding: 0.5rem;
  margin: 0 auto;
}
